# Ignorar o ambiente virtual
venv/

# Ignorar variáveis de ambiente
.env

# Ignorar outros arquivos temporários
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.log
docs/test_fig_*.png
data/__pycache__/
offline/__pycache__/
tests/__pycache__/
